<%- include('../includes/body') %>

<%- include('../includes/nav') %>

<div class="contact-container">
    <h1>Fale Conosco</h1>
    <div class="contact-content">
        <div class="contact-info">
            <p>
                Estamos aqui para ajudar! Entre em contato conosco para dúvidas, sugestões ou feedback. Queremos ouvir você e tornar sua experiência na EcoEssence Market ainda melhor.
            </p>
            <ul>
                <li><strong>Email:</strong> contato@ecoessencemarket.com</li>
                <li><strong>Telefone:</strong> (11) 1234-5678</li>
                <li><strong>Endereço:</strong> Rua Verde, 123 - São Paulo, SP</li>
            </ul>
        </div>
        <div class="contact-form">
            <!-- Trabalhar aqui futuramente -->
            <h2>Envie uma Mensagem</h2>
             action="/message" method="post">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>


<%- include('../includes/end') %>