<%- include('../includes/body') %>

    <div class="container">
        <%- include('../includes/nav') %>
            <main>
                
                <div class="main-center">
                    <h1>Comece a comprar o melhor, basta um clique para realizar</h1>
                    <button>Vamos lá!</button>
                </div>
                <div class="best-seller">
                    <h1>Melhores vendas:</h1>
                    <div class="items">
                        <div class="product">
                            <img src="https://cdn.pixabay.com/photo/2019/04/04/15/17/smartphone-4103051_1280.jpg"
                                alt="Product Name">
                            <h3>Product Name</h3>
                            <h4 class="price">R$ 8,00</h4>
                            <h4>Description of the product here!</h4>
                        </div>
                        <div class="product">
                            <img src="https://cdn.pixabay.com/photo/2019/04/04/15/17/smartphone-4103051_1280.jpg"
                                alt="Product Name">
                            <h3>Product Name</h3>
                            <h4 class="price">R$ 8,00</h4>
                            <h4>Description of the product here!</h4>
                        </div>
                        <div class="product">
                            <img src="https://cdn.pixabay.com/photo/2019/04/04/15/17/smartphone-4103051_1280.jpg"
                                alt="Product Name">
                            <h3>Product Name</h3>
                            <h4 class="price">R$ 8,00</h4>
                            <h4>Description of the product here!</h4>
                        </div>                        
                        <div class="product">
                            <img src="https://cdn.pixabay.com/photo/2019/04/04/15/17/smartphone-4103051_1280.jpg"
                                alt="Product Name">
                            <h3>Product Name</h3>
                            <h4 class="price">R$ 8,00</h4>
                            <h4>Description of the product here!</h4>
                        </div>
                    </div>
                </div>
                <div class="marks">
                    <h1>Marcas</h1>
                    <hr>
                    <ul class="marks-items">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/200px-Logo_NIKE.svg.png"
                            alt="Nike Logo">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Adidas_2022_logo.svg/150px-Adidas_2022_logo.svg.png"
                            alt="Adidas Logo">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Puma-logo-%28text%29.svg/250px-Puma-logo-%28text%29.svg.png"
                            alt="Puma Logo">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Hugo-Boss-Logo.svg/200px-Hugo-Boss-Logo.svg.png"
                            alt="Hugo Logo">
                    </ul>
                    <hr>
                </div>
                <div class="about" id="about">
                    <div class="about-left">
                        <img src="https://img.freepik.com/fotos-gratis/marcos-modernos-cidade_1359-338.jpg?semt=ais_hybrid"
                            alt="Empresa Foto">
                    </div>
                    <div class="about-right">
                        <p>
                            A <strong>EcoEssence Market</strong> nasceu de um propósito: oferecer produtos sustentáveis
                            e acessíveis para quem busca viver em harmonia com a natureza. Nossa equipe é formada por
                            pessoas apaixonadas por impacto positivo e comprometidas em selecionar produtos que
                            respeitam o meio ambiente e promovem o bem-estar.
                        </p>
                        <p>
                            Nossa missão é simples: tornar o consumo consciente mais fácil e acessível. Desde a escolha
                            de fornecedores até a entrega dos produtos, cuidamos de cada detalhe para garantir que você
                            tenha uma experiência de compra satisfatória e responsável. <strong>A EcoEssence
                                Market</strong> se destaca não apenas pela qualidade de nossos produtos, mas também pelo
                            compromisso em oferecer um atendimento humanizado e transparente.
                        </p>
                        <p>
                            Convidamos você a fazer parte da nossa jornada de transformação. Juntos, podemos criar um
                            futuro mais verde e sustentável, escolha após escolha.
                        </p>
                    </div>
                </div>
                <div class="benefices">
                    <h1>Benefícios</h1>
                    <div class="benefices-item">
                        <h3>Inovação</h3>
                        <p>A <strong>EcoEssence Market</strong> está comprometida em trazer o que há de mais moderno e inovador no mercado sustentável. 
                           Nossos produtos são cuidadosamente selecionados para garantir qualidade e impacto positivo no meio ambiente. 
                           Estamos sempre em busca de soluções que promovam um futuro mais verde.</p>
                    </div>
                    <div class="benefices-item">
                        <h3>Facilidade</h3>
                        <p>Com uma plataforma intuitiva e segura, oferecemos uma experiência de compra simples e rápida. 
                           Nossa loja online foi pensada para que você encontre tudo o que precisa com apenas alguns cliques, 
                           sem complicações, garantindo uma jornada de compra agradável e eficiente.</p>
                    </div>
                    <div class="benefices-item">
                        <h3>Praticidade</h3>
                        <p>Na <strong>EcoEssence Market</strong>, sabemos que seu tempo é valioso. 
                           Por isso, oferecemos opções de entrega rápida e métodos de pagamento variados, além de informações claras sobre cada produto. 
                           Simplificamos sua compra para que você possa focar no que realmente importa.</p>
                    </div>
                </div>                
                <%- include('../includes/end') %>
            </main>
    </div>
    </body>

    </html>