<div class="end">
    <div class="end-info">
        <h2>EcoEssence Market</h2>
        <p>São Paulo - SP, 01121-000, Brasil</p>
        <p>Rua Goiás, 114 - Bom Retiro</p>
        <p>(11) 3456-7890</p>
        <p>ecoessence@gmail.com</p>
    </div>
    <div class="end-menu">
        <h3>Menu</h3>
        <ul>
            <li><a href="#">Políticas</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Política de Envio</a></li>
            <li><a href="#">Termos e Condições</a></li>
            <li><a href="#">Política de Reembolso</a></li>
            <li><a href="#">Declaração de acessibilidade</a></li>
        </ul>
    </div>
    <div class="end-social">
        <h3>Redes Sociais</h3>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">X</a></li>
        </ul>
    </div>
</div>