<%- include('../includes/body') %>

<%- include('../includes/nav') %>

<div class="links">
    <div class="urls">
        <a href="/admin/add-product"><span>Adiconar produto</span> - Adicione os produtos de sua loja aqui</a>
        <a href="/admin/products"><span>Inspecionar produtos</span> - Edite ou remova seus produtos da loja aqui</a>
    </div>
</div>
